################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/picoquic_space_test/.vs/picoquic_space_test/v16
